@import "vars.css";

.character-img-left {
    float: left;
    margin-right: var(--content-margin);
    border-radius: 10%;
    border-width: 5px;
    border-color: var(--accent-orange);
    border-style: solid;
}

.character-img-right {
    float: right;
    margin-left: var(--content-margin);;
    border-radius: 10%;
    border-width: 5px;
    border-color: var(--accent-orange);
    border-style: solid;
}