@import "vars.css";

#posts > hr {
    opacity: 25%;
    width: 80%;
}

.center-link {
    display: block;
    text-align: center;
}

#load-more-button {
    display: none;
    font-size: 16px;
    color: var(--link-color);
}

.read-more-button {
    font-size: 16px;
    color: var(--link-color);
}

.post-p-left {
    text-align: left;
    margin-left: 100px;
}

.post-p-right {
    text-align: right;
    margin-right: 100px;
}

.post-a-left {
    text-align: left;
    margin-left: 100px;
}

.post-a-right {
    text-align: right;
    margin-right: 100px;
}