@import "vars.css";

#load-more-button {
    display: none;
    font-size: 16px;
    color: var(--link-color);
}

.read-more-button {
    font-size: 16px;
    color: var(--link-color);
}

.post-p-left {
    text-align: left;
    margin-left: 100px;
}

.post-p-right {
    text-align: right;
    margin-right: 100px;
}

.post-a-left {
    text-align: left;
    margin-left: 100px;
}

.post-a-right {
    text-align: right;
    margin-right: 100px;
}

.center-link {
    display: block;
    text-align: center;
}

#posts div h3 a {
    color: var(--text-color);
}

.dark * #posts div h3 a {
    color: var(--text-color-dark);
}