@import "vars.css";

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html {
    background-color: var(--header-color-from);
    font-family: var(--main-font);
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    color: var(--text-color);
}

p {
    text-indent: var(--paragraph-indent);
    color: var(--text-color);
}

ul {
    color: var(--text-color);
}

#page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--bg-color-from), var(--bg-color-to));
}

#image-view {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

#image-view #image-view-image {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: var(--accent-orange);

    image-rendering: pixelated;
}

#close-image {
    position: absolute;
    z-index: 10;

    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;

    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    border-color: var(--accent-orange);
    background-color: rgb(223, 89, 89);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    height: var(--header-height);
    min-width: var(--page-width);
    background: linear-gradient(to bottom,  var(--header-color-from), var(--header-color-to));

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--content-padding);
    border-width: 0 0 var(--border-width) 0;
    border-color: var(--accent-orange);
    border-style: solid;
    z-index: 1;
}

#header img {
    margin-right: 10px;
}

#header a {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
}

#header h1 {
    color: white;
}

#header .nav-links {
    display: flex;
    list-style: none;
}

#header .nav-links li {
	padding: 10px;
}

#header .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#header .nav-links li a:hover {
    text-decoration: underline; 
}

#header .nav-links li a svg {
    display: none;
}

#header .nav-links li a svg.theme-icon-visible {
    display: block;
}

#footer {
    height: var(--footer-height);
    background: linear-gradient(to top, var(--header-color-from), var(--header-color-to));
    border-width: var(--border-width) 0 0 0;
    border-color: var(--accent-orange);
    border-style: solid;
    min-width: var(--page-width);
    z-index: 1;
}

#content-wrapper {
    flex: 1;
    width: var(--page-width);
    margin: 0 auto;
    background-color: var(--page-color);
    padding: var(--content-padding);

    border-width: 0 var(--border-width);
    border-color: var(--page-border-color);
    border-style: solid;
    z-index: 1;
}

#content {
    min-height: var(--page-height);
}

#content * a {
    color: var(--link-color);
}

#content * img {
    border-width: var(--border-width);
    border-color: var(--accent-orange);
    border-style: solid;
    margin-bottom: 10px;
    cursor: pointer;
}


.separator {
    opacity: 25%;
    width: 80%;
}

.pfp-wrapper {
    float: left;
    margin: var(--content-margin);
}

.pronouns {
    margin: 0 auto;
    text-align: center;
    color: var(--text-color);
}

.contacts {
    list-style: none;
}

.links div {
    display: flex;
    align-items: center;
}

.links div svg {
    margin: 5px;
}

.links div p {
    margin: 0px;
    color: var(--text-color);
}

.float-left {
    margin-right: var(--content-margin);
    float: left;
}

.float-right {
    margin-left: var(--content-margin);
    float: right;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 20px;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.notification {
    position: fixed;
    bottom: var(--notification-bottom-from);
    right: var(--notification-bottom-to);
    border-width: var(--notification-border-width);
    border-style: solid;
    border-color: var(--notification-border-color);
    border-radius: 5px;
    background: var(--notification-bg-color);
    padding: 5px;
    color: var(--notification-border-color);

    animation-name: appear;
    animation-duration: var(--notification-anim-time);
    animation-timing-function: ease-out;
}

@keyframes appear {
    0% { bottom: var(--notification-bottom-from); opacity: 1; }
    66% { bottom: var(--notification-bottom-to); opacity: 1; }
    80% { bottom: var(--notification-bottom-to); opacity: 1; }
    100% { bottom: var(--notification-bottom-to); opacity: 0; }
}

.bisexual {
    background: linear-gradient(to right, var(--bisexual-1), var(--bisexual-2), var(--bisexual-3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
}

/* Loader copied from https://css-loaders.com/ */
.loader {
    margin: 20px auto;
    width: 35px;
    aspect-ratio: 1;
    --_g: no-repeat radial-gradient(farthest-side,var(--text-color) 94%,#0000);
    background:
      var(--_g) 0    0,
      var(--_g) 100% 0,
      var(--_g) 100% 100%,
      var(--_g) 0    100%;
    background-size: 40% 40%;
    animation: l38 .5s infinite; 
}

@keyframes l38 {
    100% {background-position: 100% 0,100% 100%,0 100%,0 0}
}