@import "vars.css";

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    background-color: var(--header-color-from);
}

html, body {
    margin: 0;
    padding: 0;
}

.footer {
    height: var(--footer-height);
    background: linear-gradient(to top, var(--header-color-from), var(--header-color-to));
    border-width: var(--border-width) 0 0 0;
    border-color: var(--accent-orange);
    border-style: solid;
    min-width: var(--page-width);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--bg-color-from), var(--bg-color-to));
}

.header {
    height: var(--header-height);
    min-width: var(--page-width);
    background: linear-gradient(to bottom,  var(--header-color-from), var(--header-color-to));

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--content-padding);
    border-width: 0 0 var(--border-width) 0;
    border-color: var(--accent-orange);
    border-style: solid;
}

.header a {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: white;
    font-family: var(--main-font);
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
	padding: var(--content-padding);
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links li a:hover {
    text-decoration: underline; 
}

.header h1 {
    color: white;
}

.content-wrapper {
    flex: 1;
    width: var(--page-width);
    margin: 0 auto;
    background-color: var(--page-color);
    padding: var(--content-padding);

    border-width: 0 var(--border-width);
    border-color: var(--page-border-color);
    border-style: solid;
}

h1,h2,h3 {
    font-family: var(--main-font);
    text-align: center;
    color: var(--text-color);
}

p {
    font-family: var(--main-font);
    text-indent: var(--paragraph-indent);
    color: var(--text-color);
}

.pfp-wrapper {
    float: left;
    margin: var(--content-margin);
}

.pfp {
    border-radius: 50%;
    border-width: var(--border-width);
    border-color: var(--accent-orange);
    border-style: solid;
}

.pronouns {
    font-family: var(--main-font);
    margin: 0 auto;
    text-align: center;
    color: var(--text-color);
}

.contacts {
    font-family: var(--main-font);
    list-style: none;
}

.links div {
    display: flex;
    align-items: center;
}

.links div svg {
    margin: 5px;
}

.links div p {
    margin: 0px;
    color: var(--text-color);
}

ul {
    font-family: var(--main-font);
    color: var(--text-color);
}

.notification {
    position: fixed;
    bottom: var(--notification-bottom-from);
    right: var(--notification-bottom-to);
    border-width: var(--notification-border-width);
    border-style: solid;
    border-color: var(--notification-border-color);
    border-radius: 5px;
    background: var(--notification-bg-color);
    padding: 5px;
    color: var(--notification-border-color);
    font-family: var(--main-font);

    animation-name: appear;
    animation-duration: var(--notification-anim-time);
    animation-timing-function: ease-out;
}

@keyframes appear {
    0% { bottom: var(--notification-bottom-from); opacity: 1; }
    66% { bottom: var(--notification-bottom-to); opacity: 1; }
    80% { bottom: var(--notification-bottom-to); opacity: 1; }
    100% { bottom: var(--notification-bottom-to); opacity: 0; }
}

.bisexual {
    background: linear-gradient(to right, var(--bisexual-1), var(--bisexual-2), var(--bisexual-3));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
}

