@import "vars.css";

#my-songs {
    width: 600px;
    margin: 0 auto;
}

#recent-obsessions .song-block {
    margin: var(--content-margin) 0;
    min-height: 275px;
    max-height: 275px;
}

#recent-obsessions .song-block div {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    gap: 10px;
}

#recent-obsessions .song-block div img {
    border-style: solid;
    border-color: var(--accent-orange);
    border-radius: 3px;
    border-width: 1px;
}

#recent-obsessions .song-block div div {
    display: flex;
    flex-direction: column;
    justify-items: left;
    align-items: start;
    gap: 0;
}

#recent-obsessions .song-block div div i {
    text-indent: 10px;
}

#page-controls {
    display: flex;
    gap: 100px;
    justify-content: center;
}

#next-button {
    font-size: 16px;
    color: var(--link-color);
    width: 100px;
}

#prev-button {
    font-size: 16px;
    color: var(--link-color);
    width: 100px;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: var(--content-margin);
    margin: 5px;
}

.song p {
    min-width: 200px;
}

.dark * #recent-obsessions div {
    color: var(--text-color-dark);
}

.dark * #load-more-button {
    color: var(--link-color-dark);
}