@import "vars.css";

.songs {
    width: 600px;
    margin: 0 auto;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: var(--content-margin);
    margin: 5px;
}

.song p {
    min-width: 200px;
}

#recent-obsessions li {
    list-style-position: outside;
    text-indent: -30px;
    padding-left: 30px;
}

#load-more-button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    border: 1;
    border-style: solid;
    border-color: var(--header-color-from-dark);
    border-radius: 5px;
    color: white;
    background: linear-gradient(to left bottom, var(--header-color-from), var(--header-color-to));
}

#load-more-button:hover {
    background: linear-gradient(to left bottom, var(--header-color-from-dark), var(--header-color-to-dark));
    color: var(--header-color-from);
    border-color: var(--header-color-from);
}

#load-more-button:active {
    background: linear-gradient(to left bottom, var(--header-color-from-dark), var(--header-color-to-dark));
    color: var(--header-color-to);
    border-color: var(--header-color-to);
}

.dark * #load-more-button {
    background: linear-gradient(to left bottom, var(--header-color-from-dark), var(--header-color-to-dark));
    color: var(--header-color-from);
    border-color: var(--header-color-from);
}

.dark * #load-more-button:hover {
    background: linear-gradient(to left bottom, var(--header-color-from), var(--header-color-to));
    color: var(--header-color-from-dark);
    border-color: var(--header-color-from-dark);
}

.dark * #load-more-button:active {
    background: linear-gradient(to left bottom, var(--header-color-from), var(--header-color-to));
    color: var(--header-color-from-to);
    border-color: var(--header-color-from-to);
}