@import "vars.css";

.songs {
    width: 600px;
    margin: 0 auto;
}

.song {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: var(--content-margin);
    margin: 5px;
}

.song p {
    min-width: 200px;
}