@import "vars.css";

.sparkle {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: absolute;
    z-index: 0;
    animation: fade-in;
    animation-duration: 1s;
    opacity: 0.2;
}

.removing-sparkle {
    opacity: 0;
    animation: fade-out;
    animation-duration: 1s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 0.2; }
}

@keyframes fade-out {
    from { opacity: 0.2; }
    to { opacity: 0; }
}