:root {
    --accent-orange: #FFA500;

    --page-border-color: #C9DDFF;
    --header-color-from: #B45EFF;
    --header-color-to: #783FAA;
    --bg-color-from: #B5D1FF;
    --bg-color-to: #5c9aff;
    --page-color: #FFEBC9;
    --text-color: black;

    --header-color-from-dark: #411d61;
    --header-color-to-dark: #2d1246;
    --bg-color-from-dark: #1e365c;
    --bg-color-to-dark: #17263d;
    --page-color-dark: #643628;
    --page-border-color-dark: #5795ff;
    --text-color-dark: #ffe3ae;
    --link-color-dark: #9492ff;

    --bisexual-1: #D70070;
    --bisexual-2: #9C4E97;
    --bisexual-3: #0035A9;

    --bisexual-1-dark: #ff0285;
    --bisexual-2-dark: #d469cd;
    --bisexual-3-dark: #004bec;

    --notification-bg-color: #4FD160;
    --notification-border-color: green;

    --page-width: 800px;
    --page-height: 1000px;
    --header-height: 80px;
    --footer-height: 20px;
    --paragraph-indent: 30px;
    --border-width: 5px;
    --content-padding: 20px;
    --content-margin: 20px;

    --notification-border-width: 3px;
    --notification-bottom-to: 50px;
    --notification-bottom-from: calc(var(--notification-bottom-to) * -1);
    --notification-anim-time: 1.5s;
    
    --main-font: "DM Mono", monospace;
}