@import "vars.css";

#wiki-header {
    position: relative;
}

#wiki-hubs {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
}

#wiki-see-also div {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content:center;
    align-items:center;
    column-gap: 20px;
    row-gap: 20px;
}

#wiki-see-also div a {
    text-align: center;
    min-width: 200px;

    align-self: center;
    border-color: var(--text-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.wiki-hub-link {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: var(--text-color);
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    margin: 10px;
}

.dark * #wiki-see-also div a {
    border-color: var(--text-color-dark);  
}

.dark * .wiki-hub-link {
    border-color: var(--text-color-dark);
}


